.backGroundInicio{
    height: 808px;
    background-image: url(../../Img/merry.jpg);
    background-position-y: center;
}

.backGroundImg{
    width: 250px;
    height: 250px;
    display: flex;
    float: right;
    margin-top: 318px;
}

.backGroundImg img{
    width: 250px;
    height: 250px;
}

.titleWelcome{
    color: rgb(36, 36, 36);
    font-size: 90px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin: 0;
}
