.backGroundInicio{
    height: 832px;
    background-image: url(../../Img/olasBack.jpg);
    background-position-y: center;
}

.titleWelcome{
    color:  #2f3c88;
    font-size: 90px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin: 0;
}

.downloadCV{
    width: 250px;
    color:  #2f3c88;
    font-size: 40px;
    display: flex;
    float: right;
    padding-right: 50px;
    margin: 0;
}

