.cartaProyecto {
    margin: 25px auto;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    background-color: #ffffff;
    box-shadow: 5px 0px 5px 2px;
    transition: 1.4s;
}

.cartaProyecto:hover {
    background-color: #faf9fb;
    transform: scale(1.12);
}