.backGroundSobreMi{
    height: 650px;
    background-image: url(../../Img/olasBack\ \(2\).jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation{
    width: 900px;
    height: 560px;
    background-color: #146182;
    color: white;
    margin-top: 30px;
    border-radius: 2%;
    padding: 8px 12px;
}

.tecnologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologies div{
    padding: 14px 6px;
}

.tecnologies img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.tecnologies h4{
    margin: 0;
}

@media screen and (max-width: 900px){
    .backGroundSobreMi{
        height: 800px;
    }
    .presentation{
        width: 600px;
        height: 700px;
    }
}

@media screen and (max-width: 500px){
    .backGroundSobreMi{
        height: 680px;
    }
    .presentation{
        width: 350px;
        height: 600px;
    }
    .tecnologies img{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .tecnologies h4{
        font-size: 12px;
    }
}
