nav{
    background-color: #252444;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav ul li{
    flex-grow: 0.05;
}

nav ul li a{
    color: #5c5c9a;
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
}

nav ul li a:hover{
    background-color: #736f8f;
}

nav ul li a.active{
    background-color: #9a95bc;
}